/* --- Reset CSS start --- */

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
abbr {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

legend {
    color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

/* --- Reset CSS end --- */



img {
    max-width: 100%;
}



.app {
    max-width: 1200px;
    margin: 0 auto;
}



.app-header {
    background-color: green;
    grid-area: h;
}

.app-header img {
    width: auto;
    height: 30px;
}



.app-main {
    display: flex;
}



.app-aside {
    background-color: blanchedalmond;
    flex-basis: 200px;
    flex-shrink: 0;
}



.app-content {
    flex-grow: 1;
    background-color: cornflowerblue;
}

.app-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 0;
}

.app-image img {
    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;
    object-fit: cover;
}