.dialogs {
    display: flex;
    padding: 20px;
}



.dialogsNames {
    width: 100px;
    padding: 0 20px 0 0;
}

.dialogsNames .item {
    margin: 0 0 10px 0;
}

.dialogsNames .item .active {
    color: #ff0000;
}

.dialogsNames .item:last-child {
    margin: 0;
}



.dialogsMessages .item {
    margin: 0 0 10px 0;
}